/* The main scrollbar **track** CSS class  */

.filter-predicate {
    -fx-border-color: darkgreen;
    -fx-border-radius:2em;
    -fx-padding:1 6 1 6;
    -fx-background-color:lightgreen;
    -fx-background-radius:2em;
}

.filter-predicate:hover .text{
    -fx-strikethrough:true;
}

.filter-predicate:hover{
    -fx-background-color:red;
}